
.header-emoji {
  font-size: 40px;
}
.header-data {
  width: 100%;
  text-align: center;
}

.header-container {
    background: linear-gradient(45deg, #15191e, #1f2530);
    width: 100%;
    align-items: center;
    justify-content: center;
    border-color: #464e5d;
    display: flex;
    border-width: 2px;
    height: 70px;
    padding: 10px 20px;
    
}
  
 
  